*{
    margin: 0;
    padding: 0;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    
}

.navbar::before{
    content: "";
    position: absolute;
    background-color: rgb(183, 174, 160);
    height: 7%;
    width: 100vw;
    z-index: -1;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li{
    font-size: 1.1rem;
}

.navbar ul li a{
    padding: 5px 20px;
    text-decoration: none;
    color: white;
}

/* Home section */
#HOME{
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: center;
    align-items: center;
    background-color: rgb(169, 169, 169);
    background: url("../images/images\ \(1\).jpg");
    height: 700px;
    width: 100vw;
    z-index: -1;
    opacity: .8;
    color: white;

}


.navbar ul li a:hover{
    border-bottom: 2px solid yellow ;
}

#HOME::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    
}

.heading{
    color: white;
    font-size: 3rem;
    text-align: center;
    transform: scale(1,1.3);
}

/* Portfolio section */
#PORTFOLIO{
    display: flex;
    flex-direction: column;
    background-color: #000000dc;
}

#PORTFOLIO h1{
    margin: 60px;
}

.gallery{
    display: flex;
    justify-content: space-around;
    
}

.gallery img{
    width: 350px;
    height: 450px;
    padding: 10px;
    margin: 10px;
}

.gallery img:hover{
    background-color: white;
    cursor: pointer;
}

/*Resume section */
#RESUME{
    display: flex;
    flex-direction: column;
    background-color: #000000dc;
}
#RESUME h1{
    margin: 60px;
}
.columns{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 50px;
}

.box{
    height: 200px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}

.box h2{
    color: yellowgreen;
    font-size: 2rem;
    margin-bottom: 40px;
}

.box p{
    color: white;
    font-size: 1.1rem;
}

/* About section */
#ABOUT{
    display: flex;
    flex-direction: column;
    height: 600px;
    background-color: #000000dc;
}

#ABOUT h1{
    color: white;
    margin: 55px;
}

.ABOUT{
    display: flex;
}

.ABOUT img{
    width: 500px;
    height: 400px;
    padding: 0px 30px;
}

.ABOUT h2{
    color: white;
}

.ABOUT p{
    color: white;
}

.NAME{
    padding: 10px;
}

.NAME h2{
    font-size: 2rem;
}

.NAME p{
    font-size: 1.2rem;
}

/* skills section */
#SKILLS{
    display: flex;
    flex-direction: column;
    background-color: #000000dc;
}
#SKILLS h1{
    margin: 60px;
}

.info li{
    color: white;
    font-size: 1rem;
}



 /* TESTIMONIALS  */
 #testimonials{
    background-color: #000000dc;
 }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper {
    display: flex;
    flex-wrap: wrap;
}

#card img{
    height: 200px;
    width: 150px;
}

#back p{
    font-size: 1rem;
}

.container {
    background-color: rgba(177, 211, 241, 0.2);
    width: 200px;
    height: 250px;
    border-radius: 25%;
    margin: 20px auto;
}
/*
- Transition do provide ways to control the speed of our animation when changing CSS properties.
- Transform-style: This property will verify
if the children of an element are positioned
in the 3d space or 2d.
The value: preserve-3d state that the children
of an element should be placed in the 3d - space
*/
#card{
    width: 200px;
    height: 250px;
    position: relative;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}
/* Will focus on horizontal flip card */
/*
It easy to rotate an html element by using
the rotate() function from transform
*/
.container:hover #card{
    transform: rotateY(180deg);
}
/* Positioning card front and card back*/
#front, #back {
    position: absolute; 
    width: 200px;
    height: 250px;
    border-radius: 20%;
    /* Have to cover most of the browsers
    Defines whether or not the back face of an element should be visible when facing the
    user
    */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}
#front{
    background-color: #000000dc;
    color: white;
}         
    
#back{
    background-color: yellowgreen;
    color: white;
    transform: rotateY(180deg);
}

/* projects section */
#PROJECTS{
    display: flex;
    flex-direction: column;
    height: 600px;
    background-color: #000000dc;
}

#PROJECTS h1{
    color: white;
    margin: 55px;
}

.Projects h2{
    color: white;
}

.Projects p{
    color: white;
}

.PROJECTS{
    display: flex;
}

.Projects{
    padding: 10px;
}

.PROJECTS h1{
    font-size: 2rem;
}

.MYCREATIONS p{
    font-size: 2rem;
    color: white;
}



/* Contact me section */
#CONTACT{
    display: flex;
    flex-direction: column;
    background-color: #000000dc;
}

#CONTACT h1{
    margin: 50px;
}

h3{
    color: white;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input{
    padding: 15px 20px;
    margin: 15px;
    width: 40%;
    border: none;
    outline: none;
    border-radius: 25px;
}

#message{
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
}

#submit{
    padding: 15px 20px;
    margin: 30px;
    width: 15%;
    border-radius: 20px;
    background-color: #000000dc;
    color: white;
    border: none;
    outline: none;
}

#submit:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}

.CONTACT{
    margin: 0;
    padding: 0;
    background-color: #000000dc;
}

.CONTACT h2{
    color: white;
    font-size: 2rem;
    display: flex;
    float: inline-end;
}

.CONTACT{
    display: flex;
    justify-content: space-around;
    
}

.CONTACT img{
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
}

.CONTACT img:hover{
    background-color: white;
    cursor: pointer;
}


footer{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 50px;
    width: 100vw;
    padding-top: 30px;
    background-color: black;
    color: whitesmoke;
}

/* DROPDOWN START */
.dropbtn {
    background-color:transparent;
    color: white;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #3e3e3e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .about-drop{
      padding-left: 20px;
  }
  
  .dropdown-content a:hover {background-color: rgb(62, 62, 62);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: transparent;}

  /* DROPDOWN ENDS */